
<div class="section-wrapper">
    <section class="section about" id="about">
       
       <div id="about-text">
        
            <div class="section-heading">Über mich</div>
           
           <p class="paragraph-text justify-text">  
               
     <!--<center><a href= "https://www.linkedin.com/in/sylviacims/">Linkedin</a></center>-->
               
             <br><br>
               
            {% include image-gallery.html folder="assets/album" %}                    
             
               
           <!-- 
            <p class="paragraph-text justify-text"> 
            </p>
            <p class="paragraph-text justify-text"> -->
            
            </p>
        </div> 
    </section>
</div>

