
<div class="section-wrapper">
    <section class="section about" id="about">
       
       <div id="about-text">
        
            <div class="section-heading">Über mich</div>
           
           <p class="paragraph-text justify-text">  
           <!--Hier habe ich das Motto Bilder sagen mehr als Worte wörtlich genommen. Diese Mischung von Bildern zusammenfast wer bin ich und was habe ich gemacht, bevor ich meine IT Ausbildung anfange.</p>
           -->
            {% include image-gallery.html folder="assets/album" %}                    
         
           <!-- 
            <p class="paragraph-text justify-text"> 
            </p>
            <p class="paragraph-text justify-text"> -->
            
            </p>
        </div> 
    </section>
</div>

