

<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Badges und Zertifikate</div>
            
            
            <p class="paragraph-text justify-text">
          
                
                
                <!-- Für mehr Informationen oder bei Fragen stehe ich Ihnen gerne per Mail zur Verfügung, schreiben Sie mir bitte eine Email an
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>. -->
                
                     
                
            </p>
           <!-- <p class="paragraph-text justify-text">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum: <a href="mailto:{{ site.email }}">{{ site.email }}</a> (<a href="">PGP Key</a>). It might take me a day to get back, but rest assured, you'll hear from me.
            </p> -->
            
            <p class="paragraph-text justify-text"> 
              <center>Schließlich, auf diese Seite finden Sie digitale Badges von E-learning Kurse die ich teilgenohmen habe.</center><br>
           <center>Auf meine <a href= "https://www.youracclaim.com/users/sylvia-cims/badges">Acclaim Seite</a>könnten Sie mehr über ihnen erfahren.</center> </p><br><br>  
           <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0c738613-a94e-4f54-8e79-b554d30cdc16" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
                
           <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0a37a6b5-e99f-4407-bb55-4a7d2468c278" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
         
           <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c60d710b-7954-4052-8ddf-c71412ae6e8c" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
           <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="13717207-c028-4867-8632-09898cbb2c2a" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="40932e4c-c70c-447f-8b9d-acc56a18c151" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
               
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
               
               <!--  <span class="hint--bottom bottom-link" aria-label="Keybase">
                    <a href="https://keybase.io/{{ site.keybase_username }}"><i class="head-icon fab fa-keybase"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Reddit">
                    <a href="https://www.reddit.com/u/{{ site.reddit_username }}"><i class="head-icon fab fa-reddit"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="head-icon fab fa-twitter"></i></a>
                </span> 

            </div>
        </div>
    </section>
</div>
