
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Fertigkeiten</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Kurzgefasst</h3>
                    <p class="paragraph-text center-align">
                Ich bin eine Quereinsteigerin im IT Fachgebiet und ich habe noch wenig Erfahrung, aber es macht mir sehr viel Spaß. Außerdem neben meiner Umschulung lerne ich auch von interessanten und kostenlosen IT E-learning Kurse,
                um meine Fahigkeiten zu verbessern. 
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Fachlich</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="15%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="25%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Networking</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="15%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Cloud</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent=" 15%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Al</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="15%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Big Data</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="25%">
                            <div class="skillbar-title" style="background: #2980b9"><span>Linux</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar --> 

                        <div class="skillbar clearfix " data-percent="15%">
                            <div class="skillbar-title" style="background: #2980b9"><span>InfoSec</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
